<h1>Welcome, user!</h1>

<p>This is a restricted area. Only authorized users are allowed!</p>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>